<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans-2.0.dtd" 
	PUBLIC "-//SPRING//DTD BEAN 2.0//EN"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:annotation-config></context:annotation-config>
	<!-- <context:component-scan base-package="person.tevop"></context:component-scan> -->
	<bean id="userDao" class="person.tevop.dao.UserDaoForSql">
	</bean>
	<!-- <bean id="logDao" class="person.tevop.dao.LogDaoForSql"> <property 
		name="sessionFactory" ref="mySessionFactory"></property> </bean> -->
	<bean id="userService" class="person.tevop.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/worktime" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean>
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>product.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<!-- <property name="hibernate.hbm2ddl.auto">
			<value>create</value>
		</property> -->
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<!-- xml配置事务 -->
	<tx:advice id="txAdviceHibernate" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="serviceMethodsHibnerate"
			expression="execution(* person.tevop.service..*.*(..))" />
		<aop:advisor advice-ref="txAdviceHibernate" pointcut-ref="serviceMethodsHibnerate" />
	</aop:config>
	<!-- xml配置事务 -->
</beans>